@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: 'Roboto', sans-serif;;
    font-weight: 400;
}

section {
    width: 100vw;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.hero, .footer {
    background-color: #1F2937;
}

.hero-img {
    width: 450px;
}

.card-img {
    width: 150px;
}